{% extends 'base.html' %}

{% block head %}
<title>Pilota's home</title>
<!-- <script src="static/js/script.js"></script> -->
{% endblock %}

{% block nav_btn %}
<!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
<a class="nav-link" href="http://vps617912.ovh.net:81">Codiad</a>
{% endblock %}

{% block body %}
<main class="px-3" style="margin-top: 50px;">
	<h1>Questo è un sito di test</h1>
	<p class="lead">Uso questo sito per provare cose.</p>
	<!-- <a href="http://vps617912.ovh.net:81">click!</a> -->
	<!-- <p class="lead">
		<a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-dark">Learn more</a>
	</p> -->
</main>

<div style="text-align: center; margin-top: 20px;">
	<!-- <script async src="https://telegram.org/js/telegram-widget.js?14" data-telegram-login="PrivateTestBot" data-size="large" data-auth-url="/ippodromo" data-request-access="write"></script> -->
	<script async src="https://telegram.org/js/telegram-widget.js?14" data-telegram-login="PrivateTestBot" data-size="large" data-onauth="onTelegramAuth(user)" data-request-access="write"></script>
</div>
{% endblock %}