{% extends 'base.html' %}

{% block head %}
<title>Pilota's ippodromo</title>
<script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">
    var isDataValid = '{{ isDataValid }}';
    var isDataExpired = '{{ isDataExpired }}';
</script>
<script src="{{ url_for('static', filename='js/ippo.js') }}"></script>
{% endblock %}

{% block nav_btn %}
<a class="nav-link" href="/">Home</a>
{% endblock %}

{% block body %}
<main class="px-3" style="margin-top: 50px;">
    <h1>Benvenuto nell'ippodromo</h1>
    {% if not isDataValid %}
        <p class="lead">Esegui il login da Telegram :)</p>
        {% if isDataExpired %}
            <p><i>I dati trasmessi da Telegram sono troppo vecchi :(</i></p>
        {% endif %}
        <div style="text-align: center; margin-top: 20px;">
            <!-- <script async src="https://telegram.org/js/telegram-widget.js?14" data-telegram-login="PrivateTestBot" data-size="large" data-auth-url="/ippodromo" data-request-access="write"></script> -->
            <script async src="https://telegram.org/js/telegram-widget.js?14" data-telegram-login="PrivateTestBot" data-size="large" data-auth-url="http://vps617912.ovh.net/ippodromo" data-request-access="write"></script>
        </div>
    {% else %}
        <p class="lead">Ciao {{ first_name }}, pronto a giocare?</p>
        <p><b>Giocatori online: <span id="nPlayers"></span></b></p>
        <ul id="players" style="list-style-type: none; padding-left: 0px;"></ul>
    {% endif %}
</main>

{% endblock %}
